<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.how2java.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.how2java.pojo.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="date" jdbcType="DATE" property="date" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, number, password, major, sex, date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.how2java.pojo.Student">
    insert into student (id, name, number, 
      password, major, sex, 
      date)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{date,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.how2java.pojo.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="date != null">
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.how2java.pojo.Student">
    update student
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.how2java.pojo.Student">
    update student
    set name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      date = #{date,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="list" resultType="com.how2java.pojo.Student">
    select * from student;
  </select>
  <select id="selectbynumandpassword" parameterType="map" resultType="com.how2java.pojo.Student">
      select * from student where number=#{number} and password=#{password}
  </select>
</mapper>